*{
    font-family: 'Times New Roman', Times, serif;
}

.body{
    background-color: rgb(54, 53, 67);
  
}
.navbar-brand{
    margin-right: 40px !important;
}
.introduction>hr{
    background-color:rgb(255, 255, 0)!important;
    height: 5px !important;
    width: 200px;
}
.navbar{
    padding:0 30px;
    
}
.nav-right i{
  margin: 0 7px;
}
.name{
    font-weight: bolder;
    font-size: 3rem;
    width: 300px;
    z-index: 4;
}
.main-section{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(54, 53, 67);
    height: 350px;
    width: 100%;
 margin: 3rem 0 0 0;
    padding:20px 50px;
}
.introduction{
    display: flex;
   align-items: center;
 
  
}
.image-container{
   position: relative;
    border-radius: 50%;
    background-color: rgb(41, 41, 53);
    width: 450px;
    height: 420px;
  z-index: 0.1;
  justify-content: center;
  align-items: center;
 margin-top: 18%;
}
.discription{
    width: 230px;
}
.services{
    z-index: 4;
}
.img{
    position: absolute;
   top: -12%;
   left: 5%;
    width: 400px;
    height: 500px;
  object-fit: contain;
}
.icon{
    color: yellow;
}
.socials{
    width: 200px;
    display: flex;
justify-content: space-between;
    
}
.mid-icons{
    position: absolute;
    top: 65%;left: 13%; right:15%;
     display: flex;
     justify-content: space-evenly;
     background-color:rgb(65, 62, 81);
     padding: 15px;
     width: 65%;
     z-index: 9999;
}

.mid-img{
    background-color:rgb(40, 40, 52);
    width: 150px;
    height: 50px;
    box-shadow: 3px 3px 3px 3px ;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.section2{
    width: 100%;
    height: 70%;
    background-color:rgb(40, 40, 52);
    padding-left:5% ;
    display: flex;
}
.intro {
    width: 600px;
}
.intro > h1{
    padding-top: 100px;
    width: 400px;
    font-weight: 700;
    word-spacing: 8px;
    font-size: 35px;
}
.intro > p{
   
    width: 300px;
    margin-top: 15px;
    word-spacing: 8px;
    
}
.projects > h1{
    margin-top: 3%;
    color: yellow;
}
.project-section{
    width: 400px;
}
.project-image{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.work-details{
    margin-top: 70px;
  width: 500px;
}
.type{
    display: flex;
    align-items: center;
   
}
.type >p {
    margin-left: 33px;
    font-size: 18px;
}
.type >p>span{
    font-size: small;
}
.more-detailsBtn{
    color: yellow;
}
.work-details > hr{
    width: 90%;
    color: grey;
    margin-top: -12px ;
}

.footer{
    background-color:rgb(40, 40, 52);
    height: 40vh;
    color: white;
   display: flex;
   justify-content: space-evenly;
   line-height: 1;
}
.footer-box1{
    padding: 10px;
    width: 27%;
    height: 200px;
    background-color:rgb(65, 62, 81);
}
.footer-box2{
    padding: 10px;
    width: 25%;
    height: 200px;
    background-color:rgb(65, 62, 81);
   
}.footer-box3{
    padding: 10px;
    width: 25%;
    height: 200px;
    background-color:rgb(65, 62, 81);
    margin-right: 35px;
}
.footer .icon{
    background-color:rgb(40, 40, 52);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.footer p{
    width: 300px;
}